header {
  background-color: #1a1a1d;
  padding: 0 25px;
  border-bottom: 3px solid #3438f5;
}

img {
  float: left;
  width: 25px;
  height: 25px;
  padding: 20px 10px 0 0;
}

h1 {
  font: lighter 25px Futura;
  color: #ffffff;
  display: inline-block;
}
