header {
  background-color: #1a1a1d;
  padding: 0 25px;
  border-bottom: 3px solid #3438f5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

header > img {
  float: left;
  width: 27px;
  height: 27px;
  padding: 23px 10px 0 0;
}

h1 {
  font: lighter 27px Futura;
  color: #ffffff;
  display: inline-block;
}

nav {
  background-color: #333333;
  text-align: center;
  padding: 4px 0;
}

nav a {
  font: bold 12px Arial;
  color: white;
  text-decoration: none;
  padding: 5px 25px;
}

nav a:hover {
  background-color: #1a1a1d;
  cursor: pointer;
}
