<form (ngSubmit)="formSubmit()">
  <label>Tillstånd</label>
  <select name="state" required [(ngModel)]="state">
    <option disabled value="">Ange ett tillstånd...</option>
    <option value="SAD">Ledsen</option>
    <option value="HAPPY">Glad</option>
    <option value="STRESSED">Stressad</option>
    <option value="ANGRY">Arg</option>
    <option value="TIRED">Trött</option>
  </select>
  <label>Anteckning</label>
  <textarea
    name="note"
    placeholder="Ange anteckning..."
    maxlength="600"
    required
    [(ngModel)]="note"
  ></textarea>
  <button type="submit">Nytt inlägg</button>
</form>
<div id="post-container">
  <h3>Inlägg</h3>
  <input
    id="date-picker-max"
    class="date-picker"
    type="date"
    max="2025-01-01"
  />
  <input
    id="date-picker-min"
    class="date-picker"
    type="date"
    min="2023-01-01"
  />
  <ul>
    <li>
      <input
        value="Trött"
        class="post-title"
        name="title"
        type="text"
        maxlength="25"
        disabled
      />
      <input
        class="date-picker"
        name="date"
        type="date"
        min="2023-01-01"
        max="2025-01-01"
        disabled
      />
      <textarea name="text" maxlength="600" disabled>Vill sova nu!</textarea>
    </li>
  </ul>
</div>
